<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test_Suite_API_lr10" parallel="methods">
    <test name="Test_API_lr10">
        <classes>
            <class name="MyIssue"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>